                    <img class="card-img-top" src="./assets/images/me.jpg" alt="Avatar">
                    <div class="card-body">
                        <h2 class="card-title text-black"><b>Leonard Box</b></h2>
                        <p><i class="fa fa-briefcase fa-fw margin-right large text-madla"></i>Web Developer</p>
                        <p><i class="fa fa-home fa-fw margin-right large text-madla"></i>San Antonio, TX</p>
                        <p><i class="fa fa-envelope fa-fw margin-right large text-madla"></i>lbox01@jaguar.tamu.edu</p>
                        <p><i class="fa fa-phone fa-fw margin-right large text-madla"></i>+1-877-867-5309</p>
                        <hr>  
                        <p class="large"><b><i class="fa fa-globe fa-fw margin-right text-madla"></i>Languages</b></p>   
                        <div class="round-xlarge small">
                            <h6>Java</h6>
                            <div class="center round-xlarge madla" style="width:90%">90%</div>
                            <br>
                            <h6>JavaScript</h6>
                            <div class="center round-xlarge madla" style="width:80%">80%</div>
                            <br>
                            <h6>Swift</h6>
                            <div class="center round-xlarge madla" style="width:75%">75%</div>
                            <br>
                            <h6>PHP</h6>
                            <div class="center round-xlarge madla" style="width:50%">50%</div>
                            <br>
                            <hr>
                        </div>
                        <p class="large w3-text-theme"><b><i class="fa fa-wrench fa-fw margin-right text-madla"></i>Tools</b></p>
                        <div class="round-xlarge small">
                            <h6>Eclipse</h6>
                            <div class="center round-xlarge madla" style="width:100%">100%</div>
                            <br>
                            <h6>Xcode</h6>
                            <div class="center round-xlarge madla" style="width:90%">90%</div>
                            <br>
                            <h6>Visual Studio Code</h6>
                            <div class="center round-xlarge madla" style="width:80%">80%</div>
                            <br>                            
                        </div>
                    </div>
