                          <div class="card-body">
                              <h2 class="text-black w3-padding-16"><i class="fa fa-suitcase fa-fw margin-right xlarge text-madla"></i><b>Work Experience</b></h2>
                              <div class="container">
                                  <h5 class="opacity"><b>Project Management Office Intern / Accenture Federal Services</b></h5>
                                  <h6 class="text-madla"><i class="fa fa-calendar fa-fw margin-right"></i>Oct 2018 - Dec 2018</h6>
                                  <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
                                  <hr>
                              </div>
                              <div class="container">
                                  <h5 class="opacity"><b>Senior Target Analyst/Reporter / Camber Corporation</b></h5>
                                  <h6 class="text-madla"><i class="fa fa-calendar fa-fw margin-right"></i>Jun 2016 - Sep 2016</h6>
                                  <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
                                  <hr>
                              </div>
                              <div class="container">
                                  <h5 class="opacity"><b>Senior Cryptologic Linguist / United States Army</b></h5>
                                  <h6 class="text-madla"><i class="fa fa-calendar fa-fw margin-right"></i>Aug 1996 - Aug 2015</h6>
                                  <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
                                  <hr>
                              </div>
                            </div>
