                          <div class="card-body">
                              <h2 class="text-black w3-padding-16"><i class="fa fa-graduation-cap fa-fw margin-right xlarge text-madla"></i><b>Education</b></h2>
                              <div class="container">
                                  <h5 class="opacity"><b>Texas A&M University - San Antonio</b></h5>
                                  <h6 class="text-madla"><i class="fa fa-calendar fa-fw margin-right"></i>Aug 2019 - <span class="tag madla round">Present</span></h6>
                                  <p>Bachelor of Science in Computer Science</p>
                                  <hr>
                              </div>
                              <div class="container">
                                  <h5 class="opacity"><b>St. Philip's College</b></h5>
                                  <h6 class="text-madla"><i class="fa fa-calendar fa-fw margin-right"></i>2017 - 2019</h6>
                                  <p>Applied Associates of Science in Web and Mobile Development</p>
                                  <hr>
                              </div>
                              <div class="container">
                                  <h5 class="opacity"><b>Norwich University</b></h5>
                                  <h6 class="text-madla"><i class="fa fa-calendar fa-fw margin-right"></i>1991 - 1996</h6>
                                  <p>Bachelor of Arts in Political Science</p><br>
                              </div>
                          </div>
