            <p>Find me on social media:</p>
            <a class="text-white" href="https://facebook.com" target="_blank"><i class="fa fa-facebook-official hover-opacity"></i></a>
            <a class="text-white" href="https://instagram.com" target="_blank"><i class="fa fa-instagram hover-opacity"></i></a>
            <a class="text-white" href="https://twitter.com" target="_blank"><i class="fa fa-twitter hover-opacity"></i></a>
            <a class="text-white" href="https://linkedin.com" target="_blank"><i class="fa fa-linkedin hover-opacity"></i></a>
            <p><i class="fa fa-copyright text-white"></i> 2020, Leonard Box</p>
